
{% extends "AppList/base.html" %}

{% block title %} Sobre {%endblock%}

{% block content %}

    <h2>Sobre la App ToDoList</h2>
    <hr>
    <p>ToDoList es una aplicacion de portafolio con el objetivo de aprender y reforzar habilidades en Django y Python.</p>
    <p>Gestionando tanto FrontEnd como BackEnd de la APP web.</p>
    <hr>
    <p>Desarrollada por Emmanuel Carcomo en Python , utilizando framework Django - marzo 2022</p>
    <li><strong>Version 1.0.0 completada el 10/04/2022 16:30hs</strong> </li>
        
{% endblock %}
